div {
    width: 100px;
    height: 100px;
}

.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
    position: relative;
    top: 70px;
    left: 70px;
    z-index: 1;
}
.green {
    background-color: green;
    position: relative;
    top: 40px;
    left: 145px;
}